body {
  font-family: "Poppins", sans-serif;
}
.col-lg-6 {
  padding: 0;
}
#login {
  .login-content {
    height: 100vh;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    .logo {
      margin-bottom: 35px;
      a {
        display: inline-block;
        img {
          max-width: 100%;
        }
      }
    }

    h3 {
      margin-bottom: 0;
      font-size: 40px;
      font-weight: 500;
    }
    p {
      margin-top: 7px;
      margin-bottom: 0;
      color: #4a6f8a;
      line-height: 1.8;
      font-size: 15px;
      a {
        display: inline-block;
        transition: 0.5s;
        color: #080a3c;
        text-decoration: none;
        margin-left: 5px;
        &:hover {
          color: #13c4a1;
        }
      }
    }
    .input-box-1 {
      margin-bottom: 15px;
      margin-top: 35px;
      input {
        background-color: #fff;
        color: #080a3c;
        border: none;
        transition: 0.5s;
        box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, 0.2%) !important;
        width: 100%;
        height: 55px;
        font-size: 14px;
        outline: none;
        padding: 0 12px;
        border-radius: 5px;
        &::placeholder {
          opacity: 1;
          transition: all 0.5s linear;
        }
        &:focus::placeholder {
          opacity: 0;
        }
      }
    }
    .input-box-2 {
      margin-bottom: 15px;
      input {
        background-color: #fff;
        color: #080a3c;
        border: none;
        transition: 0.5s;
        box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, 0.2%) !important;
        width: 100%;
        height: 55px;
        font-size: 14px;
        outline: none;
        padding: 0 12px;
        border-radius: 5px;
        &::placeholder {
          opacity: 1;
          transition: all 0.5s linear;
        }
        &:focus::placeholder {
          opacity: 0;
        }
      }
    }

    & > a {
      text-decoration: none;
      background-color: #ff612f;
      border: none;
      position: relative;
      text-align: center;
      overflow: hidden;
      z-index: 1;
      color: #fff;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      border-radius: 5px;
      font-weight: 500;
      font-size: 15px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 13px;
      padding-bottom: 13px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      display: block;
      i {
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        transition: 0.5s;
        color: #080a3c;
      }
    }
    .forget-password {
      text-align: end;
      margin-top: 15px;
      margin-bottom: 15px;
      a {
        color: #13c4a1;
        display: inline-block;
        transition: all 0.5s linear;
        font-size: 15px;
        &:hover {
          color: #ff612f;
        }
      }
    }
    .facebook-btn {
      margin-bottom: 10px;
      a {
        text-decoration: none;
        border: 1px solid #3b5998;
        display: block;
        color: #3b5998;
        padding: 10px 0;
        transition: all 0.2s linear;
        border-radius: 1px;
        position: relative;
        &:hover {
          background-color: #3b5998;
          color: #fff;
          i {
            color: #fff;
          }
        }
        i {
          color: #3b5998;
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          font-size: 15px;
        }
      }
    }
    .google-btn {
      a {
        text-decoration: none;
        border: 1px solid #ea4335;
        display: block;
        color: #ea4335;
        padding: 10px 0;
        border-radius: 1px;
        transition: all 0.2s linear;
        position: relative;
        &:hover {
          background-color: #ea4335;
          color: #fff;
          i {
            color: #fff;
          }
        }
        i {
          color: #ea4335;
          position: absolute;
          top: 50%;
          left: 18px;
          transform: translateY(-50%);
          font-size: 15px;
        }
      }
    }
  }
  .login-image {
    background-image: url("../../assets/img/login-bg.jpg");
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
