%buttons {
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background-color: #080a3c;
  padding: 12px 18px;
  display: inline-block;
  color: white;
  text-align: center;
}

%icon {
  width: 85px;
  height: 85px;
  text-align: center;
  font-size: 45px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 22px;
  transition: 0.5s;
  background-color: #ffd7cb;
  line-height: 85px;
}

%pricebtn {
  text-decoration: none;
  background-color: #080a3c;
  color: white;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
