#pricing .pricing-body .pricing-body-content .pricing-body-content-btn a, #pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-btn a {
  text-decoration: none;
  background-color: #080a3c;
  color: white;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-area {
  position: relative;
  background-color: #fff;
  height: auto;
  z-index: 1040;
  left: 0;
  width: 100%;
  top: 0;
}

.navbar-area.sticky {
  position: fixed;
  -webkit-animation: nav 0.5s linear;
          animation: nav 0.5s linear;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
}

.navbar-area .nav-strax-logo {
  background-color: transparent;
}

.navbar-area .nav-strax-logo .navbar .navbar-brand img {
  max-width: 100%;
  height: auto;
}

.navbar-area .nav-strax-logo .navbar .mean-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item a {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-size: 15px;
  font-weight: 500;
  color: #4a6f8a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 13px;
  margin-right: 13px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item i {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item:hover a {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item:hover i {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 635px;
  padding: 0 10px 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.01);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 20px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu li:nth-of-type(1) {
  width: 50%;
  padding: 0 10px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu li:nth-of-type(1) h3 {
  font-size: 17px;
  margin-top: 20px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu li:nth-of-type(1) a {
  display: block;
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu li:nth-of-type(1) a:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu li:nth-of-type(2) {
  width: 50%;
  padding: 0 10px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu li:nth-of-type(2) h3 {
  font-size: 17px;
  margin-top: 20px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu li:nth-of-type(2) a {
  display: block;
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1 .dropdown-menu li:nth-of-type(2) a:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-1:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-4 {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-4 .dropdown-menu {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
  padding: 0;
  border-radius: 5px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-4 .dropdown-menu .nav-item {
  padding: 0;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-4 .dropdown-menu .nav-item .nav-link {
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-4 .dropdown-menu .nav-item .nav-link:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-4:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-5 {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-5 .dropdown-menu {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
  padding: 0;
  border-radius: 5px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-5 .dropdown-menu .nav-item {
  padding: 0;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-5 .dropdown-menu .nav-item .nav-link {
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-5 .dropdown-menu .nav-item .nav-link:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .n-5:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .others-options {
  margin-left: 25px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .others-options .default-btn {
  text-decoration: none;
  color: #fff;
  background-color: #13c4a1;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .others-options .default-btn i {
  position: absolute;
  left: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .others-options .optional-btn {
  margin-left: 10px;
  text-decoration: none;
  border: 1px solid #080a3c;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #080a3c;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 55px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .others-options .optional-btn i {
  position: absolute;
  left: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: #ff612f;
}

#banner {
  background-color: #ff612f;
  position: relative;
  z-index: 1;
  padding-top: 130px;
  padding-bottom: 120px;
}

#banner .banner-title {
  text-align: center;
}

#banner .banner-title h2 {
  color: #fff;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
}

#banner .banner-title p {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
}

@-webkit-keyframes nav {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@keyframes nav {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

#pricing {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #f4f5fe;
}

#pricing .pricing-body {
  overflow: hidden;
}

#pricing .pricing-body .pricing-body-tabs {
  margin-bottom: 40px;
}

#pricing .pricing-body .pricing-body-tabs ul {
  text-align: center;
  list-style-type: none;
}

#pricing .pricing-body .pricing-body-tabs ul li:nth-of-type(1) a {
  background-color: #080a3c;
  color: #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#pricing .pricing-body .pricing-body-tabs ul li:nth-of-type(2) {
  display: inline-block;
}

#pricing .pricing-body .pricing-body-tabs ul li:nth-of-type(2) a {
  background-color: #fff;
  color: #8d8fb4;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#pricing .pricing-body .pricing-body-tabs ul li {
  display: inline-block;
}

#pricing .pricing-body .pricing-body-tabs ul li a {
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px 10px 33px;
}

#pricing .pricing-body .pricing-body-tabs ul li a i {
  color: #ff612f;
  font-size: 18px;
}

#pricing .pricing-body .pricing-body-content {
  margin-bottom: 30px;
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  text-align: center;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.04);
  position: relative;
}

#pricing .pricing-body .pricing-body-content:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-header {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-header h2 {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-price {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 8px;
  padding-bottom: 5px;
  border-top: 2px dashed #f4f5fe;
  border-bottom: 2px dashed #f4f5fe;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-price p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-price p sub {
  bottom: 2px;
  color: #4a6f8a;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-price p sup {
  top: -18px;
  font-size: 18px;
  font-weight: 500;
  left: 10px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-list ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-list ul li {
  padding-left: 0;
  padding-right: 21px;
  margin-bottom: 10px;
  position: relative;
  color: #444683;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-list ul li i:nth-of-type(1) {
  color: #13c4a1;
  font-size: 14px;
  margin-right: 5px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-list ul li i:nth-of-type(2) {
  color: #b7bad2;
  font-size: 14px;
  margin-right: 5px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-btn {
  text-align: center;
  margin-top: 30px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-btn a i {
  color: #ff612f;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter {
  position: absolute;
  bottom: -650px;
  left: 0;
  right: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #fff;
  border-radius: 5px;
  z-index: 5;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-header {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-header h2 {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-price {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 8px;
  padding-bottom: 5px;
  border-top: 2px dashed #f4f5fe;
  border-bottom: 2px dashed #f4f5fe;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-price p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-price p sub {
  bottom: 2px;
  color: #4a6f8a;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-price p sup {
  top: -18px;
  font-size: 18px;
  font-weight: 500;
  left: 10px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-list ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-list ul li {
  padding-left: 0;
  padding-right: 21px;
  margin-bottom: 10px;
  position: relative;
  color: #444683;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-list ul li i:nth-of-type(1) {
  color: #13c4a1;
  font-size: 14px;
  margin-right: 5px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-list ul li i:nth-of-type(2) {
  color: #b7bad2;
  font-size: 14px;
  margin-right: 5px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-btn {
  margin-top: 30px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-btn a i {
  color: #ff612f;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter.active {
  visibility: visible;
  bottom: 30px;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-btn #btn-2 {
  background-color: #ff612f;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-btn #btn-2 i {
  color: #080a3c;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-btn #intern-btn-2 {
  background-color: #ff612f;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-btn #intern-btn-2 i {
  color: #080a3c;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-btn #btn-3 {
  background-color: #13c4a1;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-btn #btn-3 i {
  color: #ff612f;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-btn #intern-btn-3 {
  background-color: #13c4a1;
}

#pricing .pricing-body .pricing-body-content .pricing-body-content-inter .pricing-body-content-btn #intern-btn-3 i {
  color: #ff612f;
}

#know-about-strax {
  padding: 100px 0;
  background-color: #fff;
}

#know-about-strax .know-about-strax-header {
  margin-left: auto;
  max-width: 745px;
}

#know-about-strax .know-about-strax-header h2 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
}

#know-about-strax .know-about-strax-header h2 span {
  color: #ff612f;
}

#know-about-strax .know-about-strax-list {
  margin-left: auto;
  max-width: 745px;
}

#know-about-strax .know-about-strax-list ul {
  padding: 0;
  list-style-type: none;
}

#know-about-strax .know-about-strax-list ul li {
  background-color: #f4f5fe;
  margin-bottom: 10px;
}

#know-about-strax .know-about-strax-list ul li a {
  text-decoration: none;
  padding: 12px 40px 10px 20px;
  color: #080a3c;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#know-about-strax .know-about-strax-list ul li a i.fa-minus {
  color: #ff612f;
}

#know-about-strax .know-about-strax-list ul li p {
  position: relative;
  font-size: 14px;
  color: #4a6f8a;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  height: 0;
  padding: 0 20px;
  opacity: 0;
  visibility: hidden;
}

#know-about-strax .know-about-strax-list ul li.show p {
  height: 100px;
  opacity: 1;
  visibility: visible;
  padding: 15px 20px;
  border-top: 1px solid #ff612f;
}

#know-about-strax .know-about-strax-img img {
  max-width: 100%;
}

#our-loving-clients {
  padding: 100px 0;
  background-color: #f4f5fe;
}

#our-loving-clients .our-loving-clients-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 575px;
  text-transform: capitalize;
  margin-bottom: 60px;
}

#our-loving-clients .our-loving-clients-header h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
}

#our-loving-clients .clients-logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin-top: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-loving-clients .clients-logo-list .client-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#our-loving-clients .clients-logo-list .client-logo:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-loving-clients .clients-logo-list .client-logo a {
  text-align: center;
  display: block;
  background-color: #fff;
  padding: 30px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#our-loving-clients .clients-logo-list .client-logo a:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#our-loving-clients .clients-logo-list .client-logo a img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#active-listening {
  position: relative;
  padding-bottom: 100px;
  background-color: #f4f5fe;
}

#active-listening .active-listening-content {
  text-align: center;
  max-width: 695px;
  margin-left: auto;
  margin-right: auto;
}

#active-listening .active-listening-content h2 {
  font-size: 40px;
  font-weight: 500;
  color: #080a3c;
}

#active-listening .active-listening-content p {
  color: #4a6f8a;
  margin-bottom: 12px;
  line-height: 1.8;
  font-size: 15px;
}

#active-listening .active-listening-content .active-listening-btn a {
  display: inline-block;
  background-color: #ff612f;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
}

#active-listening .active-listening-content .active-listening-btn a i {
  color: #080a3c;
}

#active-listening .shape-1 {
  position: absolute;
  left: 25%;
  bottom: 27%;
  z-index: 0;
  -webkit-animation: shape1 3s linear infinite;
          animation: shape1 3s linear infinite;
}

#active-listening .shape-2 {
  position: absolute;
  right: 30%;
  bottom: 25%;
  z-index: 0;
  -webkit-animation: shape2 14s linear infinite;
          animation: shape2 14s linear infinite;
}

#active-listening .shape-3 {
  position: absolute;
  left: 10%;
  bottom: 50%;
  z-index: 0;
  -webkit-animation: shape2 15s linear infinite;
          animation: shape2 15s linear infinite;
}

#active-listening .shape-4 {
  position: absolute;
  right: 18%;
  bottom: 60%;
  z-index: 0;
  -webkit-animation: shape2 15s linear infinite;
          animation: shape2 15s linear infinite;
}

.up-rise {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: -100px;
  right: 15px;
  color: #080a3c;
  background-color: #fff;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  overflow: hidden;
}

.up-rise:hover {
  background-color: #ff612f;
}

.up-rise:hover i {
  color: #fff;
}

.up-rise.active {
  opacity: 1;
  visibility: visible;
  bottom: 15px;
}

.up-rise i {
  color: #080a3c;
  font-size: 15px;
  position: absolute;
  right: 0;
  left: 0;
  top: 60%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes shape1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes shape1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shape2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes shape2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#footer {
  background-color: #080a3c;
  position: relative;
  z-index: 1;
  padding-top: 80px;
}

#footer .footer-logo-column .footer-logo-img {
  margin-bottom: 15px;
}

#footer .footer-logo-column .footer-logo-img a {
  display: inline-block;
}

#footer .footer-logo-column .footer-logo-img a img {
  max-width: 100%;
  height: auto;
}

#footer .footer-logo-column p {
  color: #acc5db;
  margin-bottom: 0;
  line-height: 1.8;
  font-size: 15px;
}

#footer .footer-company-info h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer .footer-company-info ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

#footer .footer-company-info ul li {
  color: #acc5db;
  margin-bottom: 10px;
}

#footer .footer-company-info ul li a {
  text-decoration: none;
  display: inline-block;
  color: #acc5db;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

#footer .footer-company-info ul li a:hover {
  color: #13c4a1;
  padding-left: 5px;
}

#footer .footer-support-info h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer .footer-support-info ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

#footer .footer-support-info ul li {
  color: #acc5db;
  margin-bottom: 10px;
}

#footer .footer-support-info ul li a {
  text-decoration: none;
  display: inline-block;
  color: #acc5db;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

#footer .footer-support-info ul li a:hover {
  color: #13c4a1;
  padding-left: 5px;
}

#footer .footer-contact-info h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer .footer-contact-info ul {
  list-style-type: none;
  padding: 0;
}

#footer .footer-contact-info ul li a {
  text-decoration: none;
}

#footer .footer-contact-info .f-ul li {
  color: #fff;
  margin-bottom: 10px;
  font-size: 15px;
}

#footer .footer-contact-info .f-ul li a {
  display: inline-block;
  color: #acc5db;
  font-size: 15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#footer .footer-contact-info .f-ul li a:hover {
  color: #13c4a1;
}

#footer .footer-contact-info .s-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  margin-bottom: 0;
  margin-top: 20px;
}

#footer .footer-contact-info .s-ul li {
  font-size: 15px;
}

#footer .footer-contact-info .s-ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #4e6e8a;
  text-align: center;
  font-size: 17px;
  border-radius: 2px;
  font-size: 15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#footer .footer-contact-info .s-ul li a:hover {
  background-color: #fff;
}

#footer .footer-contact-info .s-ul li a i {
  font-size: 15px;
  color: #080a3c;
}

#footer .copy-right {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-top: 1px solid #1c2250;
}

#footer .copy-right p {
  color: #acc5db;
  font-size: 15px;
}

#footer .copy-right p a {
  color: #ff612f;
  display: inline-block;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

#footer .copy-right p a:hover {
  color: #13c4a1;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../../assets/img/footer-shape1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: imageChange 2s linear 1s infinite;
          animation: imageChange 2s linear 1s infinite;
}

#footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: imageChangeTwo 2s linear 1s infinite;
          animation: imageChangeTwo 2s linear 1s infinite;
  background-image: url("../../assets/img/footer-shape2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes imageChange {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes imageChange {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes imageChangeTwo {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes imageChangeTwo {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=style-pricing.css.map */