#part-1 {
  background-color: #f8fbfa;
  padding-top: 100px;
  padding-bottom: 70px;
  .custom-items {
    transition: all 0.3s linear;
    background-color: #fff;
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.03%);

    &:hover {
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
    }

    i {
      height: 70px;
      width: 70px;
      font-size: 25px;
      color: #13c4a1;
      margin-bottom: 20px;
      line-height: 70px;
      background-color: #eee;
      text-align: center;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 500;

      a {
        display: inline-block;
        text-decoration: none;
        color: #080a3c;
        transition: all 0.3s linear;

        &:hover {
          color: #13c4a1;
        }
      }
    }

    p {
      color: #4a6f8a;
      line-height: 1.8;
      font-size: 15px;
    }
  }
}
#part-2 {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  .custom-part2-img {
    transform: translateX(750px);
    transition: all 1s linear;
    &.show {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }

  .ui-ux-design {
    padding-left: 100px;
    padding-right: 30px;

    // max-width: 615px;
    .icon {
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: 500;
    }

    p {
      margin-bottom: 30px;
      color: #4a6f8a;
      line-height: 1.8;
      font-size: 15px;
      max-width: 540px;
    }

    .custom-part2-buttons {
      .custom-btn {
        background-color: #fff;
        border: 1px solid #f2effc;
        color: #4a6f8a;
        box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04%);
        border-radius: 30px;
        font-size: 15px;
        padding: 12px 22px;
        margin-bottom: 25px;
        cursor: pointer;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        width: 100%;
        text-align: start;

        i {
          color: #13c4a1;
          transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;
        }

        &:hover {
          border: 1px solid transparent;
          background-color: #13c4a1;
          color: #fff;
          padding-left: 25px;

          //   transform: translateX(20px);
          i {
            color: white;
          }
        }
      }
    }

    a {
      @extend %buttons;
      max-width: 150px;

      i {
        margin-right: 10px;
        color: #ff612f;
      }
    }
  }

  .custom-part2-img {
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  &::before {
    position: absolute;
    right: 0;
    content: "";
    top: 0;
    width: 45%;
    height: 215%;
    z-index: -1;
    background-color: #f8fbfa;
    -webkit-transform: skewY(-66deg);
    transform: skewY(-66deg);
    -moz-transform: skewY(-66deg);
    -ms-transform: skewY(-66deg);
    -o-transform: skewY(-66deg);
  }
}
#part-3 {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  .custom-part3-img {
    transform: translateX(-870px);
    transition: all 1s linear;
    &.show {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
  .ui-ux-design {
    padding-left: 100px;
    padding-right: 30px;

    // max-width: 615px;
    .icon {
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: 500;
    }

    p {
      margin-bottom: 30px;
      color: #4a6f8a;
      line-height: 1.8;
      font-size: 15px;
      max-width: 540px;
    }

    .custom-part2-buttons {
      .custom-btn {
        background-color: #fff;
        border: 1px solid #f2effc;
        color: #4a6f8a;
        box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04%);
        border-radius: 30px;
        font-size: 15px;
        padding: 12px 22px;
        margin-bottom: 25px;
        cursor: pointer;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        width: 100%;
        text-align: start;

        i {
          color: #13c4a1;
          transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;
        }

        &:hover {
          border: 1px solid transparent;
          background-color: #13c4a1;
          color: #fff;
          padding-left: 25px;

          //   transform: translateX(20px);
          i {
            color: white;
          }
        }
      }
    }

    a {
      @extend %buttons;
      max-width: 150px;

      i {
        margin-right: 10px;
        color: #ff612f;
      }
    }
  }

  .custom-part3-img {
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  &::before {
    position: absolute;
    right: 0;
    content: "";
    top: 0;
    width: 45%;
    height: 215%;
    z-index: -1;
    background-color: #f8fbfa;
    -webkit-transform: skewY(-66deg);
    transform: skewY(-66deg);
    -moz-transform: skewY(-66deg);
    -ms-transform: skewY(-66deg);
    -o-transform: skewY(-66deg);
  }
}
#part-3 {
  background-color: #f4f6fc;
  z-index: 1;

  .custom-part3-img {
    height: 100%;

    img {
      height: 100%;
    }
  }

  &::before {
    position: absolute;
    left: 0;
    content: "";
    top: 0;
    width: 45%;
    height: 215%;
    z-index: -1;
    background-color: #13c4a1;
    -webkit-transform: skewY(66deg);
    transform: skewY(66deg);
  }

  .ui-ux-design {
    padding-left: 50px;
  }
}

#our-amazing {
  padding-bottom: 70px;
  padding-top: 100px;
  overflow: hidden;
  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
  }

  .custom-part4-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #f4f5fe;
    padding: 30px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
    bottom: -400px;
    &:hover {
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      border: 1px solid transparent;
      background-color: #fff;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.09);
      .back-icon {
        opacity: 0;
      }
      .custom-part4-icon-1 {
        background-color: #ff612f;

        i {
          color: white;
        }
      }
      .custom-part4-icon-2 {
        background-color: #13c4a1;
        transition: all 0.5s linear;

        i {
          color: white;
        }
      }
      .custom-part4-icon-3 {
        background-color: #080a3c;
        transition: all 0.5s linear;

        i {
          color: white;
        }
      }
      .custom-part4-icon-4 {
        background-color: #fc4c86;
        transition: all 0.5s linear;

        i {
          color: white;
        }
      }
      .custom-part4-icon-5 {
        background-color: #ffb300;
        transition: all 0.5s linear;

        i {
          color: white;
        }
      }
      .custom-part4-icon-6 {
        background-color: #286efa;
        transition: all 0.5s linear;

        i {
          color: white;
        }
      }
    }

    .back-icon {
      opacity: 1;
      position: absolute;
      right: 10px;
      top: -52px;
      z-index: -1;
      opacity: 0.2;
      font-size: 190px;
      line-height: 190px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    .back-icon-1 {
      color: #ff612f;
    }

    .back-icon-2 {
      color: #bce9e5;
    }

    .back-icon-3 {
      color: #b2b3c3;
    }
    .back-icon-4 {
      color: #fed2e1;
    }
    .back-icon-5 {
      color: #ffecbf;
    }
    .back-icon-6 {
      color: #bcd2fd;
    }
    .custom-part4-icon {
      @extend %icon;
    }

    .custom-part4-icon-1 {
      transition: all 0.5s linear;
      background-color: #ffd7cb;
      i {
        color: #ff612f;
      }
    }

    .custom-part4-icon-2 {
      background-color: #bce9e5;
      transition: all 0.5s linear;

      i {
        color: #13c4a1;
      }
    }

    .custom-part4-icon-3 {
      background-color: #b2b3c3;
      transition: all 0.5s linear;

      i {
        color: #080a3c;
      }
    }

    .custom-part4-icon-4 {
      background-color: #fed2e1;
      transition: all 0.5s linear;

      i {
        color: #fc4c86;
      }
    }

    .custom-part4-icon-5 {
      background-color: #ffecbf;
      transition: all 0.5s linear;

      i {
        color: #ffb300;
      }
    }

    .custom-part4-icon-6 {
      background-color: #bcd2fd;
      transition: all 0.5s linear;

      i {
        color: #286efa;
      }
    }

    h3 {
      color: #080a3c;
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 500;
    }

    p {
      color: #4a6f8a;
    }
  }
  .col-4 {
    &:nth-of-type(1) {
      &:nth-of-type(1) {
        transition-delay: 0.5s;
      }
    }
    &:nth-of-type(2) {
      &:nth-of-type(1) {
        transition-delay: 1s;
      }
    }
    &:nth-of-type(3) {
      &:nth-of-type(1) {
        transition-delay: 1.5s;
      }
    }
  }
}
#client-said {
  background-color: #13c4a1;
  padding-bottom: 70px;
  padding-top: 100px;

  .client-said-about-strax {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
    margin-bottom: 60px;
    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 600;
      span {
        color: #ff612f;
      }
    }
  }
  .col-6 {
    width: 100%;
  }
  .client-said-info {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    align-items: center !important;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 40px 30px;
    background-color: #fff;
    & > i {
      position: absolute;
      bottom: 20px;
      right: 50px;
      color: #f5f5f5;
      font-size: 80px;
    }
    .name-job {
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .client-photo {
        width: 100px;
        text-align: center;
        padding: 5px;
        border: 2px solid #f4f5fe;
        border-radius: 5px;
        img {
          max-width: 100%;
        }
      }
      h3 {
        margin-bottom: 0;
        margin-top: 12px;
        font-size: 18px;
        font-weight: 500;
      }
      span {
        display: block;
        color: #13c4a1;
        font-size: 14px;
        margin-top: 5px;
      }
    }
    .feedback-info {
      width: 70%;
      p {
        color: #4a6f8a;
        line-height: 1.8;
        font-size: 15px;
      }
      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        max-width: 100px;
        padding: 0;
        li {
          a {
            text-decoration: none;
            i {
              color: #ff612f;
              font-size: 17px;
            }
          }
        }
      }
    }
  }
  .owl-dots {
    width: 100%;
    .owl-dot {
      display: inline-block;
      span {
        background-color: transparent;
        border: 1px solid white;
      }
      &.active span {
        background-color: #fff;
      }
    }
  }
  .owl-nav {
    display: none;
  }
}
#video-box {
  padding-top: 100px;
  padding-bottom: 70px;
  position: relative;
  .video-box-head {
    text-align: center;
    margin-bottom: 60px;
    h2 {
      font-size: 40px;
      max-width: 540px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600;
      color: #080a3c;
    }
  }
  .video-box-img {
    position: relative;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
      border-radius: 5px;
    }
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      background-color: #ff612f;
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-radius: 5px;
      text-align: center;
      transition: all 0.3s linear;
      z-index: 3;
      &::before {
        transition: all 0.3s linear;

        content: "";
        position: absolute;
        border: 2px solid #ff612f;
        animation: ripple 2s linear infinite;
        top: 0%;
        left: 0%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-animation: ripple 2s linear infinite;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        animation-delay: 1s;
      }
      &::after {
        content: "";
        transition: all 0.3s linear;

        position: absolute;
        border: 2px solid #ff612f;
        animation: ripple 2s linear infinite;
        top: 0%;
        left: 0%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-animation: ripple 2s linear infinite;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      &:hover {
        background-color: #13c4a1;
      }
      &:hover::after {
        border: 2px solid #13c4a1;
      }
      &:hover:before {
        border: 2px solid #13c4a1;
      }

      i {
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
    .shape-1 {
      position: absolute;
      left: -30px;
      top: -23px;
      z-index: -1;
      animation: shape1 10s linear infinite;
    }
    .shape-2 {
      position: absolute;
      right: -20px;
      top: -30px;
      z-index: -1;
      animation: shape2 3s linear infinite;
    }
    .shape-3 {
      position: absolute;
      left: -40px;
      bottom: -50px;
      z-index: -1;
      animation: shape3 3s linear infinite;
    }

    .shape-4 {
      position: absolute;
      right: -30px;
      bottom: -30px;
      z-index: -1;
    }
    .shape-5 {
      position: absolute;
      right: -60px;
      bottom: -60px;
      z-index: -2;
    }
    .shape-6 {
      position: absolute;
      left: -26px;
      top: -22px;
      animation: shape6 4s linear infinite;
      z-index: -1;
    }
  }
  .video-box-contact {
    max-width: 1000px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    .video-box-contact-item {
      background-color: white;
      border: 1px solid #f1f1f1;
      padding: 25px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      i {
        font-size: 30px;
        color: #13c4a1;
        width: 70px;
        height: 70px;
        line-height: 70px;
        margin: auto;
        position: relative;
        margin-bottom: 15px;
        background: #f6f4fd;
        border-radius: 100%;
        text-align: center;
      }
      h3 {
        color: #ff612f;
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 600;
      }
      p {
        font-size: 15px;
        color: #4a6f8a;
        font-family: "Poppins", sans-serif;
      }
    }
  }
  .have-any-question {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    padding: 30px 130px 30px 50px;
    position: relative;
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 980px;
    .have-any-question-about {
      h3 {
        color: #080a3c;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
      }
      p {
        color: #4a6f8a;
        margin-top: 6px;
        font-size: 15px;
        margin-bottom: 0.4rem;
      }
    }
    a {
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      text-decoration: none;
      display: inline-block;
      background-color: #13c4a1;
      border-radius: 5px;
      transition: 0.5s;
      border-radius: 5px;
      font-weight: 500;
      font-size: 15px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 13px;
      text-align: center;
      padding-bottom: 13px;
      i {
        margin-right: 5px;
      }
    }
  }
  .video-box-img-map {
    position: absolute;
    left: 0;
    right: 0;
    top: 90%;
    transform: translateY(-90%);
    z-index: -1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .shape-7 {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    left: 10%;
    z-index: -1;
    animation: shape7 4s linear infinite;
  }
  .shape-8 {
    position: absolute;
    left: 12%;
    top: 60%;
    z-index: -1;
    transform: translateY(-60%);
    animation: shape8 10s linear infinite;
  }
  .shape-9 {
    position: absolute;
    right: 10%;
    top: 40%;
    z-index: -1;
    transform: translateY(-40%);
    animation: shape9 15s linear infinite;
  }
}
#pricing {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #f4f5fe;
  .pricing-header {
    text-align: center;
    max-width: 575px;
    text-transform: capitalize;
    margin-left: auto;
    margin-bottom: 60px;
    margin-right: auto;
    h2 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .pricing-body {
    overflow: hidden;
    .pricing-body-tabs {
      margin-bottom: 40px;
      ul {
        text-align: center;
        list-style-type: none;
        li:nth-of-type(1) {
          a {
            background-color: #080a3c;
            color: #fff;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
          }
        }
        li:nth-of-type(2) {
          display: inline-block;
          a {
            background-color: #fff;
            color: #8d8fb4;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
          }
        }
        li {
          display: inline-block;

          a {
            text-decoration: none;
            display: block;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 30px 10px 33px;
            i {
              color: #ff612f;
              font-size: 18px;
            }
            // &.active {
            //   background-color: #080a3c;
            //   color: white;
            // }
          }
        }
      }
    }
    .pricing-body-content {
      margin-bottom: 30px;
      background-color: #fff;
      padding-bottom: 30px;
      border-radius: 5px;
      transition: all 0.5s linear;
      text-align: center;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.04);
      position: relative;
      &:hover {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
      }
      .pricing-body-content-header {
        padding-top: 25px;
        padding-bottom: 20px;
        text-align: center;
        h2 {
          margin-bottom: 0;
          font-size: 22px;
          font-weight: 500;
        }
      }
      .pricing-body-content-price {
        transition: 0.5s;
        padding-top: 8px;
        padding-bottom: 5px;
        border-top: 2px dashed #f4f5fe;
        border-bottom: 2px dashed #f4f5fe;
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        p {
          margin-top: 0;
          margin-bottom: 1rem;
          sub {
            bottom: 2px;
            color: #4a6f8a;
            padding-right: 5px;
            font-size: 14px;
            font-weight: 500;
          }
          sup {
            top: -18px;
            font-size: 18px;
            font-weight: 500;
            left: 10px;
          }
        }
      }
      .pricing-body-content-list {
        ul {
          list-style-type: none;
          padding-left: 0;
          text-align: left;
          list-style-type: none;
          margin-top: 30px;
          margin-bottom: 0;
          margin-left: 50px;
          margin-right: 50px;
          li {
            padding-left: 0;
            padding-right: 21px;
            margin-bottom: 10px;
            position: relative;
            color: #444683;
            display: flex;
            justify-content: space-between;
            i {
              color: #13c4a1;
              font-size: 14px;
            }
          }
        }
      }
      .pricing-body-content-btn {
        margin-top: 30px;
        a {
          i {
            color: #ff612f;
          }
          @extend %pricebtn;
        }
      }
      .pricing-body-content-inter {
        position: absolute;
        bottom: -650px;
        left: 0;
        right: 0;
        visibility: hidden;
        transition: all 0.3s linear;
        background-color: #fff;
        border-radius: 5px;
        z-index: 5;

        .pricing-body-content-header {
          padding-top: 25px;
          padding-bottom: 20px;
          text-align: center;
          h2 {
            margin-bottom: 0;
            font-size: 22px;
            font-weight: 500;
          }
        }
        .pricing-body-content-price {
          transition: 0.5s;
          padding-top: 8px;
          padding-bottom: 5px;
          border-top: 2px dashed #f4f5fe;
          border-bottom: 2px dashed #f4f5fe;
          font-weight: 600;
          font-size: 40px;
          text-align: center;
          p {
            margin-top: 0;
            margin-bottom: 1rem;
            sub {
              bottom: 2px;
              color: #4a6f8a;
              padding-right: 5px;
              font-size: 14px;
              font-weight: 500;
            }
            sup {
              top: -18px;
              font-size: 18px;
              font-weight: 500;
              left: 10px;
            }
          }
        }
        .pricing-body-content-list {
          ul {
            list-style-type: none;
            padding-left: 0;
            text-align: left;
            list-style-type: none;
            margin-top: 30px;
            margin-bottom: 0;
            margin-left: 50px;
            margin-right: 50px;
            li {
              padding-left: 0;
              padding-right: 21px;
              margin-bottom: 10px;
              position: relative;
              color: #444683;
              display: flex;
              justify-content: space-between;
              i {
                color: #13c4a1;
                font-size: 14px;
              }
            }
          }
        }
        .pricing-body-content-btn {
          margin-top: 30px;
          a {
            i {
              color: #ff612f;
            }
            @extend %pricebtn;
          }
        }

        &.active {
          visibility: visible;
          bottom: 30px;
        }
      }
    }
  }
}
#meet-our-experts {
  padding-top: 100px;
  padding-bottom: 70px;
  .meet-related-employee-header {
    text-align: center;
    max-width: 575px;
    text-transform: capitalize;
    margin-left: auto;
    margin-bottom: 60px;
    margin-right: auto;
    h2 {
      margin-bottom: 0;
      font-size: 40px;
      font-weight: 600;
    }
  }
  .meet-related-employee {
    &:hover {
      .meet-related-employee-img {
        border: 4px solid #ff612f;
        ul {
          li {
            &:nth-of-type(1) {
              visibility: visible;
              opacity: 1;
              bottom: 10px;
            }
            &:nth-of-type(2) {
              visibility: visible;
              opacity: 1;
              bottom: 10px;
            }
            &:nth-of-type(3) {
              visibility: visible;
              opacity: 1;
              bottom: 10px;
            }
            &:nth-of-type(4) {
              opacity: 1;
              visibility: visible;
              bottom: 10px;
            }
          }
        }
      }
    }
    .meet-related-employee-img {
      border: 4px solid #ffdacf;
      position: relative;
      padding: 10px;
      border-radius: 5px;
      transition: all 0.3s linear;
      img {
        max-width: 100%;
        border-radius: 5px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        position: absolute;
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        li {
          transition: all 0.3s linear;
          margin: 0 2px;
          display: inline-block;
          height: 33px;
          width: 33px;
          line-height: 33px;
          text-align: center;
          position: relative;
          bottom: -34px;
          left: 72px;
          opacity: 0;
          border-radius: 3px;
          visibility: hidden;
          background-color: #f4f5fe;
          &:nth-of-type(1) {
            transition-delay: 0.1s;
          }
          &:nth-of-type(2) {
            transition-delay: 0.2s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.3s;
          }
          &:nth-of-type(4) {
            transition-delay: 0.4s;
          }
          a {
            transition: all 0.3s linear;
            text-decoration: none;
            display: block;
            i {
              color: #080a3c;
            }
          }
        }
      }
    }
    .meet-related-employee-content {
      text-align: center;
      margin-top: 20px;
      h3 {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 500;
      }
      p {
        color: #ff612f;
        font-size: 14px;
        margin-top: 6px;
      }
    }
  }
  .col-3:nth-of-type(2) {
    .meet-related-employee {
      &:hover {
        .meet-related-employee-img {
          border: 4px solid #ff612f;
        }
      }
      .meet-related-employee-img {
        border: 4px solid #ffdacf;
      }
      .meet-related-employee-content {
        p {
          color: #ff612f;
        }
      }
      .meet-related-employee-img {
        ul {
          li {
            a {
              &:hover {
                background-color: #ff612f;
                i {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .col-3:nth-of-type(3) {
    .meet-related-employee {
      &:hover {
        .meet-related-employee-img {
          border: 4px solid #13c4a1;
        }
      }
      .meet-related-employee-img {
        border: 4px solid #bce9e5;
      }
      .meet-related-employee-content {
        p {
          color: #13c4a1;
        }
      }
      .meet-related-employee-img {
        ul {
          li {
            a {
              &:hover {
                background-color: #13c4a1;
                i {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .col-3:nth-of-type(4) {
    .meet-related-employee {
      &:hover {
        .meet-related-employee-img {
          border: 4px solid #080a3c;
        }
      }
      .meet-related-employee-img {
        border: 4px solid #b2b3c3;
      }
      .meet-related-employee-content {
        p {
          color: #080a3c;
        }
      }
      .meet-related-employee-img {
        ul {
          li {
            a {
              &:hover {
                background-color: #080a3c;
                i {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .col-3:nth-of-type(5) {
    &:hover {
      .meet-related-employee-img {
        border: 4px solid #fc4c86;
      }
    }
    .meet-related-employee-img {
      border: 4px solid #fed2e1;
    }
    .meet-related-employee {
      .meet-related-employee-content {
        p {
          color: #fc4c86;
        }
      }
    }
    .meet-related-employee-img {
      ul {
        li {
          a {
            &:hover {
              background-color: #fc4c86;
              i {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
#know-about-strax {
  padding: 100px 0;
  background-color: #f4f5fe;

  .know-about-strax-header {
    margin-left: auto;
    max-width: 745px;
    h2 {
      margin-bottom: 40px;
      font-size: 40px;
      font-weight: 600;
      span {
        color: #ff612f;
      }
    }
  }
  .know-about-strax-list {
    margin-left: auto;
    max-width: 745px;
    ul {
      padding: 0;
      list-style-type: none;
      li {
        background-color: #fff;
        margin-bottom: 10px;
        a {
          text-decoration: none;
          padding: 12px 40px 10px 20px;
          color: #080a3c;
          position: relative;
          display: flex;
          font-size: 16px;
          font-weight: 500;
          justify-content: space-between;
          i {
            &.fa-minus {
              color: #ff612f;
            }
          }
        }
        p {
          position: relative;
          font-size: 14px;
          color: #4a6f8a;
          transition: all 0.3s linear;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          height: 0;
          padding: 0 20px;
          opacity: 0;
          visibility: hidden;
        }
        &.show {
          p {
            height: 100px;
            opacity: 1;
            visibility: visible;
            padding: 15px 20px;
            border-top: 1px solid #ff612f;
          }
        }
      }
    }
  }
  .know-about-strax-img {
    img {
      max-width: 100%;
    }
  }
}
#our-lastest-news {
  padding: 100px 0;
  .our-lastest-new-header {
    text-align: center;
    max-width: 575px;
    text-transform: capitalize;
    margin-left: auto;
    margin-bottom: 60px;
    margin-right: auto;
    h2 {
      margin-bottom: 0;
      font-size: 40px;
      font-weight: 600;
    }
  }
  .our-lastest-new-body {
    overflow: hidden;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07%);
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    .our-lastest-new-media {
      position: relative;
      overflow: hidden;
      a {
        display: inline-block;
        transition: all 0.5s linear;

        img {
          max-width: 100%;
          transition: all 0.5s linear;
        }
      }
      .our-lastest-new-media-date {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
        padding: 10px 25px 0;
        border-top-right-radius: 5px;
        font-size: 15px;
        font-weight: 300;

        i {
          color: #ff612f;
          margin-right: 3px;
        }
        span {
          color: #444683;
        }
      }
    }
    .our-lastest-new-content {
      padding: 25px;
      h3 {
        margin-bottom: 10px;
        line-height: 1.4;
        font-size: 22px;
        font-weight: 500;

        a {
          text-decoration: none;
          color: #080a3c;
          display: inline-block;
          transition: all 0.5s linear;
          &:hover {
            text-decoration: none;
            color: #13c4a1;
          }
        }
      }
      .post-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .post-info-img {
          padding-left: 52px;
          position: relative;
          max-width: 50%;
          flex: auto;
          img {
            border-radius: 50%;
            max-width: 100%;
            width: 43px;
            height: 43px;
            border: 1px solid #dde4ff;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
          h6 {
            margin-bottom: 0;
            color: #8891b5;
            font-size: 15px;
            font-weight: 500;
          }
        }
        .post-info-btn {
          text-align: right;
          max-width: 50%;
          flex: auto;

          a {
            display: inline-block;
            width: 43px;
            height: 43px;
            position: relative;
            border-radius: 50%;
            background-color: #ebefff;
            color: #080a3c;
            text-align: center;
            transition: all 0.3s linear;
            font-size: 20px;
            i {
              position: absolute;
              left: 0;
              right: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              margin-left: auto;
              margin-right: auto;
            }
            &:hover {
              background-color: #080a3c;
              color: #ebefff;
            }
          }
        }
      }
    }
    &:hover {
      .our-lastest-new-media {
        a {
          transform: scale(1.2);
          img {
            transform: rotate(5deg);
          }
        }
      }
    }
  }
  .blog-notes {
    margin-top: 10px;
    text-align: center;
    p {
      margin-bottom: 0;
      color: #4a6f8a;
      font-size: 15px;
      span {
        color: #ff612f;
      }
    }
  }
}
#support {
  background-color: #fff;
  position: relative;
  z-index: 1;
  &::before {
    width: 100%;
    height: 50%;
    background-color: #f4f5fe;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    position: absolute;
  }
  .support-content {
    position: relative;
    z-index: 1;
    border-radius: 30px;
    text-align: center;
    padding: 70px;
    background-color: #ff612f;
    h2 {
      color: #fff;
      max-width: 610px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      font-size: 40px;
      font-weight: 500;
    }
    form {
      max-width: 600px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      .support-content-input {
        display: block;
        width: 100%;
        border: none;
        height: 50px;
        border-radius: 5px;
        color: #fff;
        background-color: #c32f00;
        padding: 0 0 0 15px;
        font-size: 14px;
        font-weight: 500;
        &::placeholder {
          opacity: 1;
          transition: all 0.3s linear;
          color: #fff;
        }
        &:focus {
          outline: none;
        }
        &:focus::placeholder {
          opacity: 0;
        }
      }
      button {
        transition: 0.5s;
        border: none;
        border-radius: 5px;
        height: 50px;
        padding: 0;
        line-height: 50px;
        display: block;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        background-color: #080a3c;
        color: #fff;
        transition: all 0.3s linear;
        &:hover {
          color: #fff;
          background-color: #13c4a1;
          i {
            color: #080a3c;
          }
        }
        i {
          color: #ff612f;
          margin-right: 2px;
          font-size: 20px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          position: relative;
          top: 4px;
        }
      }
    }
    .shape-14 {
      position: absolute;
      left: 5%;
      top: 0;
      z-index: -1;
      animation: shape14 5s linear infinite;
    }
    .shape-15 {
      position: absolute;
      right: 2%;
      top: 4%;
      z-index: -1;
    }
    .shape-16 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    .shape-17 {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    .shape-18 {
      position: absolute;
      right: 20%;
      top: 32%;
      z-index: -1;
    }
  }
}
#our-loving-clients {
  padding: 100px 0;
  background-color: #f4f5fe;
  .our-loving-clients-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
    text-transform: capitalize;
    margin-bottom: 60px;
    h2 {
      margin-bottom: 0;
      font-size: 40px;
      font-weight: 600;
    }
  }
  .clients-logo-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    .client-logo {
      flex: 0 0 20%;
      max-width: 20%;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 10px;
      transition: all 0.5s linear;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      a {
        text-align: center;
        display: block;
        background-color: #fff;
        padding: 30px 20px;
        transition: 0.5s;
        transition: all 0.5s linear;
        &:hover {
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07%);
          transform: translateY(-10px);
        }
        img {
          max-width: 100%;
          height: auto;
          transition: all 0.5s linear;
        }
      }
    }
  }
}
.up-rise {
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1%);
  position: fixed;
  bottom: -100px;
  right: 15px;
  color: #080a3c;
  background-color: #fff;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  overflow: hidden;
  &:hover {
    background-color: #ff612f;
    i {
      color: #fff;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    bottom: 15px;
  }
  i {
    color: #080a3c;
    font-size: 15px;
    position: absolute;
    right: 0;
    left: 0;
    top: 60%;
    transform: translateY(-70%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
}
@keyframes shape14 {
  0% {
    left: 5%;
  }
  50% {
    left: 6%;
  }
  100% {
    left: 5%;
  }
}
@keyframes shape7 {
  0% {
    top: 40%;
  }
  50% {
    top: 41%;
  }
  100% {
    top: 40%;
  }
}
@keyframes shape8 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes shape9 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes shape6 {
  0% {
    left: -22px;
  }

  50% {
    left: -14px;
  }

  100% {
    left: -22px;
  }
}

@keyframes shape2 {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}
@keyframes shape3 {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}
@keyframes shape1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
